
body{
    padding-top: 100px;


}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@keyframes navbar {
    from{
        transform: translateY(-10px);
        opacity: 0.2;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.header{
    background-color: blue;
    top: 0%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    padding: 0px 40px;
    height: 100px;
    justify-content: space-between;
    animation: navbar 1.5s ease-in-out;
    z-index: 10000;


}
.logo img{
    height: 65px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: blue;
    border-radius: 18px;
    transition: 1s;
    display: inline-flex;
    
    
}
.menu ul li a:hover{
    color: white;
    background-color: rgb(0, 0, 218);
    transform: translateY(5px);
} 
.faq-container{
    max-width: 900px;
    margin: 150px auto;
    padding: 40px;
}

.faq-container h1{
    text-align: center;
    margin-bottom: 40px;
}

.faq-item{
    background: #f2f2f2;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.faq-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.faq-item h3{
    margin-bottom: 10px;
}

.faq-item p{
    color: #444;
}